.container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading {
    text-decoration: underline;
}
.score-time-container {
    display: flex;
    justify-content: space-between;
    width:90%;
    font-weight: bold;
}
.tiles-container {
    padding: 5px;
    border-radius: 10px;
    border: 4px solid #352929;
    width: 85%;
}
.welcome-container {
    display: flex;
    justify-content: end;
    
}
.tiles-items-container {
    display: flex;
    /* grid-template-columns: 50% 50%; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tile-card {
    border: 2px solid #352929;
    border-radius:10px ;
    list-style-type: none;
    height: 100px;
    width: 200px;
    margin: 10px;
    align-self: center;
    cursor: pointer;
}
.tile-img {
    height: 100px;
    object-fit: cover;
    width: 200px;
    display: none;
    transition-property: display;
    transition-delay: 0.5s;
}
.tile-img-active{
    display: flex;
    height: 100px;
    object-fit: cover;
    width: 200px;
    transition-property: display;
    transition-delay: 0.5s;
}
.score-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.score-heading {
    color: rgb(245, 112, 134);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .tiles-container{
        padding: 20px;
    }
    .tiles-items-container {
        /* grid-template-columns: 33% 33% 33%; */
    }
    .tile-card {
        /* height: 150px;
        width: 200px; */
    }
}